.detail > p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 16px;
    text-align: justify;
    cursor: initial;
    margin-top: 2px;
    font-family: 'Manrope', sans-serif !important;
}

.detail > p > span {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    text-align: justify;
    cursor: initial;
    font-family: 'Manrope', sans-serif !important;
}

.detail > h3 > u > strong, .detail > h3 > strong > u {
    font-size: 22px;
    font-weight: 900;
    line-height: 4rem;
}

.detail > p > strong {
    font-weight: 900;
}

.detail > ul {
    margin-top: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

.detail > ol {
    margin-top: 10px;
    list-style-type: decimal;
    list-style-position: inside;
}